ion-toolbar{
  --background: #f5f5f3;

  ion-button{
    text-transform: initial;
    font-size: 17px;
  }
}

ion-content{
  --background: #f5f5f3;

    h1{
      text-align: center;
      font-weight: 700;
      font-size: 26px;
      color: #010100;
      margin: 50px 0 16px 0;
    }


  #form {
    margin-top: 12%;
    padding-left: 30px;
    padding-right: 30px;

    ion-input{
      margin-top: 20px;
      height: 48px;
      font-size: 18px;
      text-transform: initial;
      border-radius: 50px;
      color: #000000;
      background-color: #ffffff;
      box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.12);
      --highlight-height: 0px;
    }
    ion-button{
      margin: 35px 2px;
      height: 43px;
      font-size: 17px;
    }
  }

  p{
    text-align: center;
    color: #b6b6b6;
    margin-top: 40px;
  }
}

.msg-erro{
  color:red;
  font-size: 10px;
  clear: both;
  position: relative;
}
